/* @import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:sans-serif;
  background:#0B1120;
}
.dark body{
  background:#0B1120;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}